<div class="main-cont z-depth-3">

  <div class="right-cont">
    <h1>Ethics</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas id veritatis itaque saepe sit reiciendis dolores ipsum, repellat quia ab et quod iure quo hic eius ipsa cumque. Sed, laudantium!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit repudiandae aliquid totam libero? Autem quia deserunt minus praesentium, pariatur dignissimos optio iste suscipit officia eius placeat, assumenda odit sequi enim?
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime quidem quam, reprehenderit rem expedita libero vero laborum aperiam quibusdam veritatis, voluptates corporis! Sit voluptate dolor eligendi, fugit architecto quae voluptatum?

    </p>
  </div>
  <div class="left-cont">
    <img src="" alt="">
    <div class="news-cont">
      <h5>news</h5>
      <app-ethics></app-ethics>
    </div>
  </div>
</div>

