<div class="container-fluid">
<!-- top logo shape symbols -->
  <img src="/assets/images/logo_shape/top{{color}}.svg" width="500px">

  <!-- meeting desk vector shape  -->
  <img src="/assets/images/heder_back/lamp.svg" width="500px"alt="">

<!-- trnslator  -->
<app-translator></app-translator>
<!-- End! -->
<!-- side nav bar  -->
<app-side-nav (colors)="colors($event)"></app-side-nav>
<!-- End! -->

<!-- top navigation bar  -->
<app-nav-heder (colors)="colors($event)"></app-nav-heder>
<!-- section End! -->
<h1>sds</h1>


</div>

<app-footer class="foter"></app-footer>
